Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Web, 11 Jan 1955 00:00:00 GMT"
RewriteEngine on

#RewriteBase /

RewriteRule \.(jpg|png|gif|js|css)$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule . index.php

AddDefaultCharset UTF-8

<IfModule mod_php5.c>
  php_value short_open_tag 1
</IfModule>